/* src/index.css */

/* Resetting margins and paddings for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensuring images are displayed as block elements */
img {
  display: block;
}

/* Applying font styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
